:root {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #111111;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
}

@media (prefers-color-scheme: light) {
  :root {
    --gray-1: #3f3f3f;
    --gray-2: #32353a;
    --gray-2_5: #242526;
    --gray-3: #e8e8e8;
    --gray-4: #eeeeee;
    --gray-5: #f5f5f5;
    --gray-6: #a9abb3;
    --white-1: #242526;
    --white-2: #242526;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-1: #3f3f3f;
    --gray-2: #32353a;
    --gray-3: #25282c;
    --gray-4: #151618;
    --gray-5: #151618;
    --gray-6: #111111;
    --white-1: #eeeeee;
    --white-2: #a9abb3;
  }
}

[data-theme="light"] {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-2_5: #242526;
  --gray-3: #e8e8e8;
  --gray-4: #eeeeee;
  --gray-5: #f5f5f5;
  --gray-6: #a9abb3;
  --white-1: #242526;
  --white-2: #242526;
}

[data-theme="dark"] {
  --gray-1: #3f3f3f;
  --gray-2: #32353a;
  --gray-3: #25282c;
  --gray-4: #151618;
  --gray-5: #151618;
  --gray-6: #111111;
  --white-1: #eeeeee;
  --white-2: #a9abb3;
}

#category-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: none;
  visibility: hidden;
}

#category-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  max-width: 850px;
  max-height: 60vh;
  border-radius: 1rem;
  padding: 1rem;
  margin: auto;
  background: var(--gray-3);
  display: none;
  visibility: hidden;
  line-height: 140%;
}

#category-modal-content {
  display: relative;
  max-height: calc(100% - 5rem);
  overflow: auto;
}

#category-modal-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

#category-modal-bg.open,
#category-modal.open {
  display: block;
  visibility: visible;
}

.modal-article,
.modal-article-date {
  display: block;
  color: var(--white-2);
}

.modal-article {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}

.modal-article-date {
  font-size: 0.8rem;
}

.modal-article:hover {
  background: var(--gray-4);
}

hr {
  border-top: 2px dashed var(--white-2) !important;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  margin-bottom: 1.75rem !important;
}

/* Copy code button */
.copy-code-button {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: normal;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--white-1);
  color: var(--gray-5);
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

pre:hover .copy-code-button {
  opacity: 1;
}

.copy-code-button:hover {
  background-color: var(--white-2);
}

[data-theme="light"] .copy-code-button {
  background-color: var(--gray-2);
  color: var(--white-1);
}

[data-theme="light"] .copy-code-button:hover {
  background-color: var(--gray-3);
}

@media (prefers-color-scheme: light) {
  .copy-code-button {
    background-color: var(--gray-2);
    color: var(--white-1);
  }

  .copy-code-button:hover {
    background-color: var(--gray-3);
  }
}
